header {
color :red;
font-size : 40px;
}

header2 {
font-family: Impact, Charcoal, sans-serif;
color :blue; 
font-size :25px;
}
Footer {
font-size : 30px;
font-style: italic;
color :purple;
}
pg {
color :green;
font-size :25px;
font-style :bold;

}

