header {
color :red;
font-size : 40px;
margin-left :500px;
}

h2 {
font-family: Impact, Charcoal, sans-serif;
color :blue; 
font-size :29px;
margin-left :200px;
}
Footer {
font-size : 30px;
font-style: italic;
color :#FF00FF;
margin-left :200px;

}
pg {
color :black;
font-size :25px;
font-style :bold;
background-color :red;
border-style :dotted;
font-weight :bold;
font-family :"Comic Sans MS", cursive, sans-serif;
margin-left :200px;


}
body {
background-color :black;
border-style :outset;
border-color : #FF00FF orange red blue;
border-width :20px;
background-image:
margin-bottom :200px;
}
