header {
color :yellow;
font-size : 30px;
font-style :italic;
font-weight :bold;
font-family: Impact, Charcoal, sans-serif;
background-color :purple;
}


h2 {
font-family: Impact, Charcoal, sans-serif;
color :blue; 
font-size :15px;
background-color :red;
font-style :italic;
}
h3 {
font-family: Impact, Charcoal, sans-serif;
color :blue; 
font-size :15px;
background-color :red;
font-style :italic;
}
h4 {
color :purple;
font-size :23px;
background-color :yellow;
border-style : dashed;
border-width :2px;
border-color :purple yellow yellow yellow;

}
h5 {
color: yellow;
background-color :green;
border-style : dotted;
border-color :green green yellow green;
font-size :18px;
border-width :4px;
}
h6 {
color :blue:
font-size :23px;
}
h7 {
color: yellow;
background-color :green;
border-style : dotted;
border-color :green green yellow green;
font-size :18px;
border-width :4px;
}

Footer {
font-size : 30px;
font-style: italic;
color :#FF00FF;
margin-left :200px;
}


body {
border-style :outset;
border-color : #FF00FF orange red blue;
border-width :20px;
background-image:
margin-bottom :200px;
}
