nav {
width:200px;
color:blue;
float:left;
border-style : outset;
border-color :blue green;
}
main {
margin-left:206px;
}
footer{
clear:both;
}
p1{
margin-left:1500px;

}
body{
background-color :;
float:left;
background-image:url("http://us.123rf.com/450wm/WDesigns/WDesigns1405/WDesigns140500002/28526885-an-abstract-background-and-frame-taking-inspiration-from-the-decorative-title-cards-of-classic-movie.jpg");

}
h1{
background-color :#D2644D;
font-size : 48px;

}
img{
border-style : dotted;
border-color :blue;
float:right;
margin-right:201px;
background-color:#8F3487;
}





