nav {
width:199px;
color:blue;
float:left;
border-style : outset;
border-color :blue green;
margin-right:206px;

}
main {
margin-left:209px;
background-color :;
float:left;
margin-right:0px;
}
footer{
clear:both;
}
p1{
margin-left:1400px;
margin-right:201px;
float:left 201px;

}
body{
background-color :;
float:left;
background-image:url("http://cdn.playbuzz.com/cdn/2a75ac08-64e1-4f58-864c-0c5c3268dc74/2793058f-c56d-4694-8091-c286ca3dd055.png");
border:1px solid;
}
h1{
background-color :#D2644D;
font-size : 48px;
font-family: 'Lobster Two', cursive; 


}
img{
border-style : dotted;
border-color :blue;
float:right;
margin-right:201px;
background-color:#8F3487;

}
h3{
margin-left:500px;
font-family: 'Dosis', sans-serif;
}
p3{
margin-left:1400px;
margin-right:201px;
float:left 201px;
font-family: 'Chau Philomene One', sans-serif;
}

